<vg-player (onPlayerReady)="onPlayerReady($event)">
    <vg-overlay-play></vg-overlay-play>
    <vg-buffering></vg-buffering>

    <vg-controls>
        <vg-play-pause></vg-play-pause>
        <vg-playback-button></vg-playback-button>

        <vg-time-display *ngIf="flag" vgProperty="current" vgFormat="mm:ss" vgFor="secondVideo"></vg-time-display>
        <vg-time-display *ngIf="!flag" vgProperty="current" vgFormat="mm:ss" vgFor="thirdVideo"></vg-time-display>

        <vg-scrub-bar *ngIf="flag" [vgSlider]="true">
            <vg-scrub-bar-current-time [vgSlider]="true" vgFor="secondVideo"></vg-scrub-bar-current-time>
            <vg-scrub-bar-buffering-time vgFor="secondVideo"></vg-scrub-bar-buffering-time>
        </vg-scrub-bar>
        <vg-scrub-bar *ngIf="!flag" [vgSlider]="true">
            <vg-scrub-bar-current-time [vgSlider]="true" vgFor="thirdVideo"></vg-scrub-bar-current-time>
            <vg-scrub-bar-buffering-time vgFor="thirdVideo"></vg-scrub-bar-buffering-time>
        </vg-scrub-bar>
            
        <vg-scrub-bar [vgSlider]="true"class="top" >
            <vg-scrub-bar-current-time [vgSlider]="true" vgFor="firstVideo"></vg-scrub-bar-current-time>
            <vg-scrub-bar-buffering-time vgFor="firstVideo"></vg-scrub-bar-buffering-time>
        </vg-scrub-bar>

        <vg-time-display *ngIf="flag" vgProperty="left" vgFormat="mm:ss" vgFor="secondVideo"></vg-time-display>
        <vg-time-display *ngIf="flag" vgProperty="total" vgFormat="mm:ss" vgFor="secondVideo"></vg-time-display>
        <vg-time-display *ngIf="!flag" vgProperty="left" vgFormat="mm:ss" vgFor="thirdVideo"></vg-time-display>
        <vg-time-display *ngIf="!flag" vgProperty="total" vgFormat="mm:ss" vgFor="thirdVideo"></vg-time-display>

        <vg-mute vgFor="secondVideo" ></vg-mute>
        <vg-volume vgFor="secondVideo" ></vg-volume>

        <vg-fullscreen></vg-fullscreen>
    </vg-controls>

    <vg-controls class="top">
        <vg-mute vgFor="firstVideo" ></vg-mute>
        <vg-volume vgFor="firstVideo" ></vg-volume>
    </vg-controls>


    <vg-controls class="bottom">
        <vg-mute vgFor="backgroundAudio" ></vg-mute>
        <vg-volume vgFor="backgroundAudio"></vg-volume>
    </vg-controls>

    <video
    class="primary"
    #primary
    [vgMedia]="primary"
    id="firstVideo"
    preload="auto">
    <source src="https://apexsct-my.sharepoint.com/personal/juan_rendon_yuxiglobal_com/Documents/Microsoft%20Teams%20Chat%20Files/song-min.mp4" type="video/mp4" >
    </video>
    
    <div
        class="secondary"
    >
        <video
            id="secondVideo"
            preload="auto"
            #secondary 
            [src]="currentItem.url"
            [vgMedia]="secondary"
            [style.zIndex]="flag ? 100 : 0">
        </video>
        
        <video
            id="thirdVideo"
            preload="auto"
            #third 
            [src]="secondItem.url"
            [vgMedia]="third" 
            [style.zIndex]="!flag ? 100 : 0">
        </video>
    </div>

    <audio 
        #myAudio
        [vgMedia]="myAudio"     
        id="backgroundAudio"
        preload="auto">
        <source src="http://ia600304.us.archive.org/10/items/TheKyotoConnection-noHeadphonesRequired/03TheBestDaysOfMyLife.mp3" type="audio/mp3">
    </audio>

   
</vg-player>

<div class="container">
    <button (click)="prevVideo()"> << Prev Slide</button>
    <button (click)="findIndex(0)">Slide 1</button>
    <button (click)="findIndex(1)">Slide 2</button>
    <button (click)="findIndex(2)">Slide 3</button>
    <button (click)="nextVideo()" >Next Slide >></button>
</div>
